{% extends 'AppBundle::layout.html.twig' %}

{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h1>Úprava klienta</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Uložit" class="btn btn-success" />
    {{ form_end(edit_form) }}

    <br>

            {{ form_start(delete_form) }}
            <div class="btn-group" role="group" aria-label="...">
              <a href="{{ path('admin_client_index') }}" class="btn btn-info">Zpět na výpis</a>
              <input type="submit" value="Smazat" class="btn btn-danger">
            
            </div>
            {{ form_end(delete_form) }}
{% endblock %}
