{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>Klienti</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jméno</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td><a href="{{ path('admin_client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                <td><a href="{{ path('admin_client_show', { 'id': client.id }) }}">{{ client.name }}</a></td>
                <td>
                            <a href="{{ path('admin_client_edit', { 'id': client.id }) }}" class="btn btn-default">upravit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
            <a href="{{ path('admin_client_new') }}" class="btn btn-success">Nový klient</a>
{% endblock %}
