{% extends 'AppBundle::layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}

<h1>{{ project }}</h1>
{{ form_start(form) }}
<table class="table table-condensed">
  <tr class="form active">
    <td>{{ form_widget(form.issuedAt) }}</td>
    <td>{{ form_widget(form.user) }}</td>
    <td>{{ form_widget(form.hours, {'attr': {'size': '2', 'placeholder': 'hodiny'}}) }}</td>
    <td>{{ form_widget(form.description, {'attr': {'placeholder': 'popis'}}) }}</td>
    <td>{{ form_widget(form.save) }}</td>
  </tr>
{% for entry in entries %}
  <tr>
    <td>{{ entry.issuedAt|date('d. m.') }}</td>
    <td>{{ entry.user }}</td>
    <td><strong>{{ entry.hours }}</strong></td>
    <td>{{ entry.description }}</td>
    <td>
      <div class="btn-group" role="group" aria-label="...">
        <a href="{{ path('app_entry_edit', {'id': entry.id}) }}" class="btn btn-default item-edit">Upravit</a>
        <a href="{{ path('app_entry_delete', {'id': entry.id}) }}" class="btn btn-danger item-remove">Smazat</a>
      </div>
    </td>
  </tr>
{% endfor %}
</table>
{{ form_end(form) }}
{% endblock %}